# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE files
.idea/
*.iml

# Buildozer and Android artifacts
.buildozer/
.buildozer_global/
bin/
*.apk
*.aab
